__pycache__/
*.pyc
*.pyo
*.pyd
koromo_review_gui_cache/*
koromo_review_gui_cache/local_settings.json
!koromo_review_gui_cache/.gitkeep
dist/
build/
*.spec
*.review.json
*.review.toml
*.tenhou6.json
*.recordData
*.head.json
*.decoded.json
*.mjai.jsonl
*.log
*.tmp
*.pth
*.pt
!.gitkeep

.venv-build-cpu/*
release/*
_external/amae-koromo-scripts/node_modules/*
!_external/amae-koromo-scripts/node_modules/.gitkeep
_external/amae-koromo-scripts/.cache/*
